body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    position: relative;
    background-color: #03045E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 32px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    padding: 2px 8px;
}

input:focus {
    border: 1.5px solid #b5b5b5;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    filter: brightness(.9);
}

button:active {
    filter: brightness(.7);
}

button#btn-mostra-modal {
    position: absolute;
    top: 49%;
    left: 45%;
    border: 4px solid #90E0EF;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    width: 150px;
    height: 50px;
    transition: all .5s;
}

button#btn-mostra-modal:hover {
    border: 4px solid #90E0EF;
    background: #90E0EF;
    color: #03045E;
}

button.btn-entrar:hover {
    border: 4px solid #90E0EF;
    background: #90E0EF;
    color: #03045E;
}

button.btn-entrar {
    border: 4px solid #90E0EF;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    width: 150px;
    height: 50px;
    transition: all .5s;
}

button.btn-voltar {
    position: absolute;
    top: 8px;
    right: 24px;
    background-color: transparent;
    color: #fff;
}

button.btn-voltar:hover {
    text-decoration: underline;
}

#modal {
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal>section {
    border-radius: 4px;
    background-color: #023E8A;
    margin: 10% auto 0 auto;
    padding: 32px 24px;
    max-width: 450px;
    position: relative;
    color: #fff;
}

#modal>section>form * {
    display: block;
}

#modal>section>form>fieldset {
    font-size: 20px;
    text-align: center;
    border: none;
    /* background-color: #0096C7; */
    color: #fff;
    padding-bottom: 16px;
    text-transform: uppercase;
}

#modal>section>form>.grupo-inputs+.grupo-inputs {
    margin-top: 24px;
}

#modal>section>form>.grupo-inputs>input {
    width: 100%;
    height: 40px;
    margin-top: 8px;
}

#modal>section>form>button {
    margin: 24px auto auto auto;
}

.modal-escondido {
    display: none;
}

.modal-aparece {
    animation-name: sobe-modal;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.modal-saindo {
    animation-name: desce-modal;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes desce-modal {
    from {
        filter: opacity(1);
    }
    to {
        margin-top: 50%;
        filter: opacity(0);
    }
}

@keyframes sobe-modal {
    from {
        filter: opacity(0);
        margin-top: 50%;
    }
    to {
        filter: opacity(1);
        margin-top: 10%;
    }
}