* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: #bdc3c7;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    padding: 20px;
}

#title {
    position: absolute;
    top: 40%;
    left: 10%;
}

#main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

canvas {
    margin-top: 10px;
    width: 500px;
    height: 450px;
    /* height: calc(100vh - 20px); */
    border: 1px solid #fff;
}

#text {
    font-family: fantasy;
    margin: 0px auto;
    font-size: 32px;
}

#instructions {
    position: absolute;
    right: 10%;
    /* top: 10px; */
    font-size: 12px;
    letter-spacing: .1rem;
}

#instructions li {
    list-style: none;
}

#instructions li::after {
    content: 'Ctrl - Inicia partida';
}

#highscore {
    font-size: 13px;
}

@media screen and (max-width: 425px) {
    body {
        height: 100%;
    }
    canvas {
        width: 350px;
        height: 350px;
    }
    #title {
        display: none;
    }
    #instructions {
        width: 100vw;
        text-align: center;
        bottom: 0px;
        right: 0;
        padding: 0;
        font-size: 12px;
        letter-spacing: .1rem;
    }
    #instructions li::after {
        content: 'Apenas delize na tela para mover';
    }
}