body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    background-image: url('./img/star.gif');
}

:root {
    --tamanho-estrela: 120px;
    --altura-folha: 300px;
    --largura-folha: 500px;
    --cor-folha-1: #507255;
    --cor-folha-2: #488B49;
    --cor-tronco: #3F1A00;
    --cor-fundo: #24314F;
    --cor-estrela: #F9BC52;
    --cor-chao: #9DD1F1;
}

#fundo {
    background-image: url('./img/snow.gif');
}

#pisca-pisca {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 650px;
    background-image: url('./img/pisca-pisca.gif');
    background-size: 40% 65%;
    background-position: center 130px;
    background-repeat: no-repeat;
    z-index: 10;
    animation-name: key-pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#chao {
    position: absolute;
    width: 2000px;
    height: 250px;
    background-color: var(--cor-chao);
    clip-path: polygon(0% 76%, 0% 100%, 100% 100%, 100% 81%, 79% 78%, 71% 82%, 57% 82%, 47% 80%, 37% 78%, 29% 80%, 17% 80%, 17% 74%, 9% 73%);
    z-index: 0;
}

.centralizar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    animation-name: key-folha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#estrela {
    position: relative;
    top: 20px;
    width: var(--tamanho-estrela);
    height: var(--tamanho-estrela);
    background-color: var(--cor-estrela);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation-name: key-estrela;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: 6;
}

.arvore-topo {
    position: relative;
    top: -180px;
    width: var(--largura-folha);
    height: var(--altura-folha);
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    z-index: 5;
    background: linear-gradient(0deg, var(--cor-folha-1) 0%, var(--cor-folha-1) 30%, rgba(0, 0, 0, 1) 50%);
}

.arvore-folha {
    position: relative;
    width: var(--largura-folha);
    height: var(--altura-folha);
    clip-path: polygon(51% 32%, 0% 100%, 100% 100%);
    background: rgb(80, 114, 85);
}

#f1 {
    top: -380px;
    z-index: 4;
    background: linear-gradient(0deg, var(--cor-folha-2) 0%, var(--cor-folha-2) 20%, rgba(0, 0, 0, 1) 41%);
}

#f2 {
    top: -580px;
    z-index: 3;
    background-color: var(--cor-folha-1);
    background: linear-gradient(0deg, var(--cor-folha-1) 0%, var(--cor-folha-1) 20%, rgba(0, 0, 0, 1) 41%);
}

#f3 {
    top: -790px;
    z-index: 2;
    background: linear-gradient(0deg, var(--cor-folha-2) 0%, var(--cor-folha-2) 20%, rgba(0, 0, 0, 1) 41%);
}

.tronco {
    position: relative;
    top: -800px;
    width: 300px;
    height: 230px;
    background: linear-gradient(0deg, var(--cor-tronco) 0%, var(--cor-tronco) 70%, rgba(0, 0, 0, 1) 100%);
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    clip-path: polygon(32% 0, 31% 14%, 29% 28%, 27% 39%, 34% 38%, 38% 31%, 43% 25%, 43% 33%, 43% 41%, 48% 38%, 50% 32%, 54% 25%, 62% 30%, 70% 36%, 76% 35%, 69% 25%, 64% 19%, 62% 14%, 64% 5%, 62% 1%, 62% 0%);
}

@keyframes key-estrela {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}

@keyframes key-pisca {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}

@keyframes key-folha {
    0% {
        border-style: solid;
        border-color: var(--cor-estrela);
        border-width: 2px;
        transform: translateY(0px);
    }
    100% {
        border-style: solid;
        border-color: red;
        border-width: 2px;
        transform: translateY(15px);
    }
}

/* #507255 #488B49 #4AAD52 #6EB257 #C5E063*/