:root {
    --cor-fundo: #003C67;
    --cor-quadrado: #F26419;
}

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body:hover #quadrado {
    height: 100vh;
}

body:hover #container-texto {
    filter: blur(3px);
    animation-name: key-container;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#fundo {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#container-texto {
    position: relative;
    transition-property: filter;
    transition-duration: 1s;
    transition-timing-function: linear;
    z-index: 2;
}

#texto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    letter-spacing: 2rem;
    margin: 0;
    padding: 0;
}

#quadrado {
    position: absolute;
    background-color: var(--cor-quadrado);
    width: 100vw;
    height: 0px;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 0.6;
    z-index: 3;
}

@keyframes key-container {
    00% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}